<div class="search-container">
  <input [(ngModel)]="query" placeholder="Search for a track" />
  <button (click)="onSearch()">Search</button>

  <div *ngIf="results.length > 0">
    <div *ngFor="let track of results" class="track-item">
      <a href="https://localhost:4200/music-detail/{{ track.id }}"> <img [src]="track.album.images[0]?.url" alt="Track Image"/> </a>
      <div>
        <p>{{ track.name }}</p>
        <p>{{ track.artists[0]?.name }}</p>
        <button (click)="viewTrackDetails(track.id)">View Details</button>
      </div>
    </div>
  </div>
</div>
